/**
  * Name: Flip
  * Version: 1.0
  * Author: Easy Websites Maker
  * Author URI: http://www.EasyWebsitesMaker.com
*/

@font-face {
	font-family: 'Conv_a_FuturaOrto-Bold_2258';
	src: url('fonts/a_FuturaOrto-Bold_2258.eot');
	src: local('☺'), url('fonts/a_FuturaOrto-Bold_2258.woff') format('woff'), 
					url('fonts/a_FuturaOrto-Bold_2258.ttf') format('truetype'), 
					url('fonts/a_FuturaOrto-Bold_2258.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_PlayfairDisplay-Regular';
	src: url('fonts/PlayfairDisplay-Regular.eot');
	src: local('☺'), url('fonts/PlayfairDisplay-Regular.woff') format('woff'), 
					url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'), 
					url('fonts/PlayfairDisplay-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_futura-medium';
	src: url('fonts/futura-medium.eot');
	src: local('☺'), url('fonts/futura-medium.woff') format('woff'), url('fonts/futura-medium.ttf') format('truetype'), url('fonts/futura-medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}